asttokens
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
Flask
fonttools
fsspec
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
mss
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
py-cpuinfo
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
requests
scipy
seaborn
six
stack-data
sympy
thop
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
urllib3
wcwidth
Werkzeug
